@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Porsche Next";
  src: url("../fonts/porsche-next.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-relaxed);
  color: var(--color-black);
  background-color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  color: var(--color-black);
}
h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-semibold);
  line-height: 1.3;
}
h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-semibold);
}
p {
  font-size: var(--font-size-body);
  line-height: var(--line-height-relaxed);
}
a {
  color: var(--color-black);
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-easing);
}
a:hover {
  color: var(--color-red-porsche);
}
.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--container-padding-desktop);
}
@media (max-width: 768px) {
  .container {
    padding: 0 var(--container-padding-mobile);
  }
}
#root {
  min-height: 100vh;
}
